################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigHub/.vs/GigHub/v15/Server/sqlite3/db.lock
/GigHub/GigHub/App_Data/aspnet-GigHub-20190302024637.mdf
/GigHub/GigHub/App_Data/aspnet-GigHub-20190302024637_log.ldf
